<i class="fa fa-angle-double-down fa-3x" aria-hidden="true"></i>
<div id="shutit" class="col-md-12">
  <h1>Apartments</h1>
<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
<h4 id="sup"> Hello, <%= current_user.email %> </h4> |
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %> |
<% else %>
<%= link_to('Login', new_user_session_path)  %> |
<% end %>

<%= link_to 'Sign-Up', new_user_registration_path %> |
<%= link_to "Sign in with Twitter", user_twitter_omniauth_authorize_path %> |
<%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %> |
<% if can? :manage, :all %>
<%= link_to 'Admin Tools', admin_index_path %> |
<% end %>

</div>

<br>
<br>

<div class="col-md-12">
  <br>
  <br>
<center>
    <form action="/apartments" method="get">
      <input id="yapapa" type="text" name="search" placeholder="Search Apartments">
      <input id="yamama" type="submit" value="Search">
  </form>
</center>
<br>
</div>

<br>
<br>
<div class="col-md-12">


<% if @results.present? %>
<p>
<table>
  <% @results.each do |result| %>
  <tr>
    <td><%= result.aptstreet1 %></td>
    <td><%= result.aptstreet2 %></td>
    <td><%= result.city %></td>
    <td><%= result.postal_code%></td>
    <td><%= result.state %></td>
    <td><%= result.country %></td>
    <td><%= result.name %></td>
  </tr>
  <% end %>
</table>
</p>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>User Email</th>
      <th>Name</th>
      <th>Photo</th>
      <th>Phone</th>
      <th>Hours</th>
      <th>Aptstreet1</th>
      <th>Aptstreet2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip Code</th>
      <th>Country</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr class="table_row">
        <td><%= image_tag(apartment.image.url(:large)) %></td>
        <td><%= apartment.user.email %></td>
        <td><%= apartment.name %></td>
        <td><%= apartment.phone %></td>
        <td><%= apartment.hours_to_contact %></td>
        <td><%= apartment.aptstreet1 %></td>
        <td><%= apartment.aptstreet2 %></td>
        <td><%= apartment.city %></td>
        <td><%= apartment.state %></td>
        <td><%= apartment.postal_code %></td>
        <td><%= apartment.country %></td>
        <td><%= apartment.description %></td>
        <% if can? :manage, :all   %>
        <td><button class="buttons"><%= link_to 'Show', apartment %></button></td>
        <td><button class="buttons"><%= link_to 'Edit', edit_apartment_path(apartment) %></button></td>
        <td><button class="buttons"><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        <% elsif can? :manage, apartment %>
        <td><%= link_to 'Show', apartment %></td>
        <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
        <td><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
        <td><%= link_to 'Show', apartment %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manage, Apartment %>
<h4>
<%= link_to 'New Apartment', new_apartment_path %>
</h4>
<% end %>
</div>
